@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
/* Importação das Fontes */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");