@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&Josefin+Slab:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
/* Importação das Fontes */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
/* Importação de Fontes no estilo ícone */




:root{
    --font-primary: "Baloo 2", serif;
    --secondary-font: "Mulish", serif;
}


.hamburguer{
    /* background-color: red; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;           /* Qualquer valor diferente de negativo para a classe se sobrepor a imagem/texto */
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;                /* Permite a flexibilização dos elementos */
    justify-content: center;      /* Justifica o conteúdo */
    align-items: center;          /* Alinha on items ao centro */
    background-color: #a044ff;
    color: #fff;
    font-family: var(--font-primary);
    opacity: 0;                   /* Visibilidade Padrão 0  */
}


.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-left: .5rem solid transparent;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}


.show-menu .hamburguer{     
    right: 15rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}


.line{
    width: 100%;            /* 100% da largura do elemento pai(hamburguer)*/
    height: .2rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px rgb(0, 0, 0); /* Sombra na posição X, Y, Blur, Cor de sombra */
    border-radius: 10px;
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);
}


.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.1rem, -.51rem);
}


*{                          /* Setta uma configuração para todos os elementos da página */ 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{                     /* Settando qual o tamanho que o header irá ocupar */
    width: 100%;
    height: 100vh;          /* view height: Visualização da altura quando se entra na página */
    overflow: hidden;       /* garante que nenhum elemento sai da tela, gerando assim uma barra de rolagem */
    position: relative;
}

.img-wrapper{               /* Setta o espaço que preenchera do Header */
    width: 100%;
    height: 100%;
    overflow: hidden;       /* garante que nenhum elemento sai da tela, gerando assim uma barra de rolagem */
    background-color: rgb(48, 48, 49);
    animation: zoom 30s;
}

@keyframes zoom {           /* Animação de zoom da imagem de fundo. */
    0%{
        transform: scale(1.8);
    }
    100%{
        transform: scale(1);
    }
}

.img-wrapper img{           /* Setta a formatação das tags "img" dentro da classe img-wrapper */
    width: 100%;
    height: 100%;
    object-fit: cover;      /*mantém a proporção da imagem quando ela for redmensionada*/
    opacity: 0.5;
}

.banner{
    position: absolute;     /* Para colocarmos a imagem em uma posição absoluta, a tag de container deve ser relativa*/
    left: 10%;
    top: 30%;
}

.banner h1{
    color:#fff;
    font-family: var(--font-primary);
    font-size: 3.5rem;
    font-weight: 200;       /* A intensidade do negrito dos caracteres*/    
    text-shadow: .3rem .4rem 4px rgb(0, 0, .4); /* Sombra das fontes */
    line-height: 3.2rem;    
    opacity: 0;             /* Setta a opacidade pra verdadeira quando a acimação entra */
    animation: moveBanner 1s 0.5s forwards;    
}

.banner p{    
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 100;       /* A intensidade do negrito dos caracteres*/
    text-shadow: .3rem .4rem 4px rgb(0, 0, .4); /* Sombra das fontes */;
    margin-top: .1rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    
    color: rgb(255, 255, 255);
    font-family: var(--secondary-font);
    text-transform: uppercase;
    background: #6a3093;  /* fallback for old browsers - Navegadores mais antigos*/
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a044ff, #6a3093); /* Setta as cores graduais de funto - W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 600;       /* A intensidade do negrito dos caracteres*/
    letter-spacing: .1rem;  /* Espaçamento entre as letras*/
    padding: 1rem 3rem;
    border: none;  
    border-radius: 5px;  
    cursor: pointer;        /* Muda o cursor quando mouse passa. */
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}   

.banner button:hover {      /* Ativado quando o evento hover é acionado. */
    color: rgb(0, 0, 0);
}

@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
        
    }
}

.sidebar{   
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;                     /* Os posicionamentos referentes aos eixos X e Y não funcionam sem a posição fixa. */
    right: 0;                   /* Os posicionamentos referentes aos eixos X e Y não funcionam sem a posição fixa. */
    background-color: #fff;
    right: -20rem;              /* Esconde o Menu lateral */  
    transition: all 0.7s;   
}

.show-menu .sidebar {
    right: 0;                   /* Mostra o menu lateral */
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
}

.menu-link{
    font-family: var(--secondary-font);         /* Referência a variável declarada com fonte*/
    font-size: 2rem;                            /* Tamanho da fonte de cada link */
    color: #555;                              /* Cor da fonte*/  
    transition: color 1s;                       /* tempo de transição de cor ao passar sobre link */
    
}

.menu-link:hover{
    color: #6019a7;
}

.social-media{
    position: absolute;                         /* Para que fique "sobre" o elemento pai. O elemento pai deve ter a posição "relative"*/
    bottom: 2rem;
    width: 100%;                                /* Para que ocupe o todo o espaço horizontal, e possa ser reajustado dentro desse espaço*/        
    display: flex;                              /* Para que possamos reposicionar itens em formas de linha ou coluna, settando seus espaçamentos de forma dinâmica*/
    justify-content: space-evenly;
}

.social-media i{
    
    color:#6a3093;
    height: 2.5rem;                             
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-media i:hover {
    
    color: #661bb1;
    transition: color 1s;
}

.conhecimentos {                                /* Setta as configurações de GRID Layout*/
    display: grid;
    grid-template-columns: repeat(16, 1fr);     /* Espaço de ocupação das colunas (qtnd e tamanho)*/
    grid-template-rows: repeat(6, 6rem);        /* Espaço de ocupação das linhas (qtnd e tamanho)*/
    row-gap: 2rem;
}

.conhecimento:nth-child(1) {                    /* Referência a um elemento filho, com mais de um nome igual */
    grid-column: 4 / 7;                         /* Espaço entre as colunas aonde os elementos serão alocados */
    grid-row: 1 / 3;                            /* Espaço entre as linhas aonde os elementos seão alocados */
}

.conhecimento:nth-child(2) {                    /* Referência a um elemento filho, com mais de um nome igual */
    grid-column: 3 / 6;                         /* Espaço entre as colunas aonde os elementos serão alocados */
    grid-row: 3 / 5;                            /* Espaço entre as linhas aonde os elementos seão alocados */
}

.conhecimento:nth-child(3) {                    /* Referência a um elemento filho, com mais de um nome igual */
    grid-column: 4 / 7;                         /* Espaço entre as colunas aonde os elementos serão alocados */
    grid-row: 5 / -1;                           /* Espaço entre as linhas aonde os elementos seão alocados */
}       

.conhecimento:nth-child(4) {                     /* Referência a um elemento filho, com mais de um nome igual */
    grid-column: 11 / 14;                        /* Espaço entre as colunas aonde os elementos serão alocados */
    grid-row: 1 / 3;                             /* Espaço entre as linhas aonde os elementos seão alocados */
}

.conhecimento:nth-child(5) {                     /* Referência a um elemento filho, com mais de um nome igual */
    grid-column: 12 / 15;                        /* Espaço entre as colunas aonde os elementos serão alocados */
    grid-row: 3 / 5;                             /* Espaço entre as linhas aonde os elementos seão alocados */
}

.conhecimento:nth-child(6) {                     /* Referência a um elemento filho, com mais de um nome igual */
    grid-column: 11 / 14;                        /* Espaço entre as colunas aonde os elementos serão alocados */
    grid-row: 5 / -1;                            /* Espaço entre as linhas aonde os elementos seão alocados */
}


.sessao-conhecimentos{
    background-color: rgb(238, 238, 238);
}

.sessao-header{
    display: flex;
    justify-content: center;    
}

.sessao-header h1 {
    font-size: 2rem;
    color: #555;
    font-family: var(--font-primary);
    border-bottom: solid 3px #661bb1;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i{
    font-size: 2rem;
}

.conhecimento-header h3{
    color: #4b4b4b;
    font-size: 1.5rem;
    font-family: var(--font-primary);
    padding-left: 1rem;
}

.conhecimento-text p{
    font-family: var(--secondary-font);
    margin-top: 1rem;
    font-size: .9rem;
}

.conhecimentos-img-wrapper{
    grid-column: 3 / 13;
    grid-row: 10 / -6;
    width: 100%;    
}

.conhecimentos-img-wrapper img{     /* Para que a imagem se ajuste ao GRID Layout */
    object-fit: cover;
    width: 100%;
}